h3
{
  font-size: 25px !important;
  font-size: 100px;
}
canvas {
    border:1px solid black;
    background-color: blueviolet;
    color: aqua;
    text-align: center;
}
body{
    background-color: darkmagenta;
    color: deeppink;
}

